<div class="row justify-content-start w-75 mx-auto border my-0 py-0" id="contenedor">

  <div class=" container float-left w-25 p-3  my-0 mx-0 py-0 px-0 " id="status">

    <div class=" row w-25 p-3" id="foto">
      <div class="col-sm">
        <img class="mt-10 ml-2" src="/assets/foto.png">
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
        <h2 class="ml-1 px-3 ">Descripción <br> Personal</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
        <div id="descripcion">
          <p class="text-center">Como persona organizada y con una gran motivación, soy capaz de adaptarme a cualquier
            circunstancia y dar siempre lo mejor de mí en cualquier proyecto, al mismo
            tiempo que me esfuerzo por trabajar en equipo y fomentar valores como los del compañerismo.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
        <h3 class="text-center text-dark fs-4">Skills</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
        <h3 class="fs-6">C++</h3>
      </div>
      <div class="col-sm">
        <app-progress-bar [valor_a]="'50'"></app-progress-bar>
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
        <h3 class="fs-6">java</h3>
      </div>
      <div class="col-sm">
        <app-progress-bar [valor_a]="'67'"></app-progress-bar>
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
        <h3 class="fs-6">html,css</h3>
      </div>
      <div class="col-sm">
        <app-progress-bar [valor_a]="'55'"></app-progress-bar>
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
        <h3 class="text-center text-dark fs-4">Idiomas</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
        <h3 class="fs-6">español</h3>
      </div>
      <div class="col-sm">
        <app-progress-bar [valor_a]="'97'"></app-progress-bar>
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
        <h3 class="fs-6">ingles</h3>
      </div>
      <div class="col-sm">
        <app-progress-bar [valor_a]="'50'"></app-progress-bar>
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
        <h3 class="text-center text-dark fs-4">Hobbies</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
        <h3 class="fs-6">Ping-Pong</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
        <h3 class="fs-6">ver Series</h3>
      </div>
    </div>

  </div>

  <div class=" w-75 p3 my-0 mx-0 py-0 px-0" id="info">
    <h2 class="text-center">Información Personal</h2>
    <app-card [name] = "'Diego F. Román López'" [sexo] = "'masculino'" [direccion] = "'Cll 162 # 55c – 20, Bogotá , Colombia'" [telefono] = "'305742****'" [correo] = "'diegor***@gmail.com'"  ></app-card>
    <h2 class=" fs-3 text-center mt-5">Referencias laborales</h2>
    <div class="container overflow-scroll" id="referencias">

      <div class="row">
        <div class="col-sm">
          <app-mini-accordion [posicion]="'collapseOne'" [lugar]="'Miniso, tienda de retail'" [cargo]="'Promotor de experiencia'" [periodo]="'20 agosto 2018 a 20 enero 2019'"></app-mini-accordion>
        </div>
        <div class="col-sm">
          <app-mini-accordion [posicion]="'collapseTwo'" [lugar]="'Super Hamburguesas parrilla, restaurante'" [cargo]="'Repartidor de comida'" [periodo]="'Nov 2016 – feb 2017'"></app-mini-accordion>
        </div>
      </div>
      <h2 class=" fs-3 text-center mt-5">Referencias personales</h2>
      <div class="row">
        <div class="col-sm">
          <app-mini-accordion [posicion]="'collapseThree'" [lugar]="'Juan Perez'" [cargo]="'Contador publico'" [periodo]="'Telefono: 3182345674'"></app-mini-accordion>
        </div>
        <div class="col-sm">
          <app-mini-accordion [posicion]="'collapseFourth'" [lugar]="'Jose Perez'" [cargo]="'Contador publico'" [periodo]="'Telefono: 3192345674'"></app-mini-accordion>
        </div>
      </div>

    </div>
  </div>

</div>

<router-outlet></router-outlet>