
#contenedor{
    min-height:fit-content;
}
#status{
    min-height: 58.1pc;
    background-image: linear-gradient(#932771, #a422d0);
}
#info{
    min-height: 58.1pc;
    background-image: url(/assets/vaporwave3.png);
    background-repeat: no-repeat;
    background-size: 110%,30%;
    background-position-y: 35%;
    background-position-x: center;
}
#foto img{
    width: 220px;
    position: relative;
    left: -15px;
    object-fit: contain;
    transform: rotate(15deg);
}
#descripcion{
    background-image:url(https://cdn131.picsart.com/325879853007211.png?type=webp&to=min&r=640);
    background-size: 105.5%,100%;
    background-position-y:30% ;
    background-position-x:15% ;   
}
#referencias{
    height: 500px;
}
#referencias::-webkit-scrollbar {
    display: none;
}